<div class="log up">
  <div class="container-fluid">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <h3>Sign up</h3>
    <hr>
    <div class="facegoogle">
      <%- if devise_mapping.omniauthable? %>
      <%- resource_class.omniauth_providers.each do |provider| %>
      <%= link_to "Log in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %>
      <% end -%>
      <% end -%>
    </div>
    <p class="or">or</p>
    <p><%= devise_error_messages! %></p>
    <div class="logup_input">
      <%= f.email_field :email, autofocus: true , :class => "form-control" ,:placeholder=>"Email"%>
      <%= f.password_field :password, autocomplete: "off" , :class => "form-control" ,:placeholder=>"PassWord"%>
      <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control" ,:placeholder=>"PassWord Confirm"%>
    </div>
    <div class="account">
      <%= link_to(t("I already have an account"), new_session_path(:user))%>
    </div>

  </div>
  <div class="actions">
    <%= f.submit "Sign up" , :class => "form-control"%>
  </div>
  <% end %>
</div>
