<div class="col-xs-12 scheduled-head">
  <div class="col-xs-4">
    <h4><%= current_user.appointments.count %></h4>
    <p>Scheduled</p>
  </div>
  <div class="col-xs-4">
    <h4><%= current_user.appointments.where("end < ?", Time.current.in_time_zone).count %></h4>
    <p>Past</p>
  </div>
  <div class="col-xs-4">
    <h4><%= current_user.user_available_sections.where('available_section > ?', 0).count %></h4>
    <p>Unschedule</p>
  </div>
</div>
<div class="col-xs-12 user-list">
  <div class = "<%= "current_tab" if current_page?(classes_user_path(current_user)) %>">
    <%= link_to "Class",classes_user_path(current_user) %>
  </div>
  <div class = "<%= "current_tab" if current_page?(mytutor_user_path(current_user)) %>">
    <%= link_to "MyTutor",mytutor_user_path(current_user) %>
  </div>
  <div class = "<%= "current_tab" if current_page?(remark_user_path(current_user)) %>">
    <%= link_to "FeedBack",remark_user_path(current_user) %>
  </div>
  <div class = "<%= "current_tab" if current_page?(profile_user_path(current_user)) %>">
    <%= link_to "EditProfile",profile_user_path(current_user) %>
  </div>
  <div class = "<%= "current_tab" if current_page?(edit_user_registration_path) %>">
    <%= link_to "ChangePassword",edit_user_registration_path %>
  </div>
</div>
