<div class="container">
  <div class="row">
    <div class="col-md-5 text-center">
      <%= render "sidebar"%>
    </div>
    <div class="col-md-7">
      <% if @user.appointments.present? %>
          <div class="row">
            <div class="col-xs-12">
              <div class="mytutor-sort">
                <div class="dropdown dropdown-language selsct_scheduled">
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Choose class status....
                    <span class="caret dropdown-language-span"></span>
                  </button>
                  <ul class="dropdown-menu dropdown-language-menu" aria-labelledby="dropdownMenu1">
                    <li><%= link_to "ALL", classes_user_path( :classes=> 1 ) %></li>
                    <li><%= link_to "Scheduled", classes_user_path( :classes=> 2 ) %></li>
                    <li><%= link_to "Past", classes_user_path( :classes=> 3 ) %></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xs-12">

              <% i=0 %>
              <% @user.appointments.each do |a|%>
                  <% i+=1 %>
                  <div class="scheduled col-xs-12">
                    <div class="col-sm-5 scheduled-image img-responsive center-block">
                      <div class="scheduled-dark"></div>
                      <div class="scheduled-white">
                        <%= image_tag("scheduled.png") %>
                      </div>
                      <div class="scheduled-text">
                        <h5>SCHEDULED</h5>
                        <h4><%= a.start.in_time_zone.strftime('%H:%M, %p') %></h4>
                        <p><%= a.start.in_time_zone.strftime('%a') %>,
                        </p>
                        <h6><%= a.start.in_time_zone.strftime('%B%d, %Y') %></h6>
                      </div>
                    </div>
                    <div class="col-sm-7">
                      <div class="col-xs-12">
                        <div class="clearfix flexmodify">
                          <div class="info-mypic col-xs-3 pull-left">
                            <%= image_tag(a.teacher.user.image) %>
                          </div>
                          <div class="info-eval col-xs-7">
                            <p><%= a.teacher.user.first_name %>
                              <%= a.teacher.user.last_name %></p>
                            <div id="rateYo-<%= i %>"></div>
                            <span>(<%= Evaluation.where(evaluatable_type: "User", evaluated_id: a.teacher_id ).count %>)</span>
                          </div>
                          <div class=" col-xs-2 ">
                            <div class="dropdown ">
                              <button class=" dropdown-toggle classes_dropdown" type="button" data-toggle="dropdown">
                                <i class="fa fa-angle-down" aria-hidden="true"></i></span></button>
                              <ul class="dropdown-menu classes_meun">
                                <li><%= button_to('Cancel',appointment_path(:id=>a.id),method: "delete", data: { confirm: 'Are you sure ? Only can cancel classe after 12 hours from now', disable_with: 'loading...' }) %></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="clearfix ratingnow gotocalss">
                          <div class="conatiner-fluid">
                            <% if Time.current.in_time_zone >= a.start.in_time_zone-10.minutes &&
                                Time.current.in_time_zone < a.end.in_time_zone %>
                                <form action="<%= a.appointment_url %>" target="_blank">
                                  <button type="submit" name="gotoclass">GO TO CLASS</button>
                                </form>
                            <% elsif Time.current.in_time_zone > a.end.in_time_zone %>
                                <% if a.evaluations.where(evaluatable_type: "User").blank? %>
                                    <form action="<%= appointment_path(a.id) %>">
                                      <button type="submit" name="rating">Rating Now</button>
                                    </form>
                                <% else %>
                                    <div class="rated">
                                      <button id="rating-<%= a.id %>" name="rating">Rated</button>
                                    </div>
                                <% end %>
                            <% elsif Time.current.in_time_zone <= a.start.in_time_zone-10.minutes %>
                                <button type="submit" name="gotoclass">Please wait</button>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="pop-black-<%= a.id %>" class="pop-bg"></div>
                  <div id="evaluation-white-<%= a.id %>" class="evaluation-white">
                    <div class="evaluation col-xs-12">
                      <div class="evaluation-button clearfix">
                        <%= link_to "Back" ,classes_user_path ,:class=>"pull-left"%>
                        <!--  <button class="pull-right" id ="eval-send">Send</button>
                      </div> -->
                        <div class="evaluation-block col-xs-10 col-xs-push-1">
                          <div class="evaluation-me text-center">
                            <%= user_headimage(a.teacher.user) %>
                            <h4><%= a.teacher.user.first_name %>
                              <%= a.teacher.user.last_name %></h4>
                            <p>Wehope you had a great lesson! please leave your teacher a review on their profile for other students to see.</p>
                          </div>
                          <div id="ratebox">
                            <div id="ratebox_con">
                              <div id="rateYo-<%= a.id %>" class="star-rating"></div>
                            </div>
                          </div>

                          <div class="evaluation-comment">
                            <h5>Comments</h5>
                            <hr>
                            <div class="user-comment">
                              <%= a.evaluations.where(evaluatable_type: "User").first.try(:comment) %>
                            </div>
                            <textarea id="comment"></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              <% end %>
            </div>
          </div>
      <% else %>
          <%= render partial: 'recommend' %>
      <% end %>
    </div>
  </div>
</div>


<script>
  var i = 0;
  $(document).ready(function () {

    <% @user.appointments.each do |a|%>

    i += 1;

    $('#pop-black-<%= a.id %>').hide();
    $('#evaluation-white-<%= a.id %>').hide();
    $('#rating-<%= a.id %>').click(function (e) {
      $('#pop-black-<%= a.id %>').fadeIn(1);
      $('#evaluation-white-<%= a.id %>').fadeIn(300);
    });
    $('#pop-black-<%= a.id %>').click(function (e) {
      $('#evaluation-white-<%= a.id %>').fadeOut(1);
      $('#pop-black-<%= a.id %>').fadeOut(1);
    });

    <% if a.evaluations.where(evaluatable_type: "User").blank? %>
    <% @raty = 0 %>
    <% else %>
    <% @raty = a.evaluations.where(evaluatable_type: "User").first.rating %>
    <% end %>

    $("#rateYo-<%= a.id %>").rateYo({starWidth: "40px", numStars: 5, fullStar: true, readOnly: true, rating: <%= @raty %>});

    $("#rateYo-" + i).rateYo({starWidth: "15px", numStars: 5, fullStar: true, readOnly: true, rating: <%= a.teacher.avg_rating %>});

    <% end %>

  });
</script>
