<div class="container">
  <div class="row">
    <div class="col-md-5 text-center  col-xs-12">
      <%= render "sidebar"%>
    </div>
    <div class="col-md-7">
      <div class="row">
        <div class="col-xs-12">
          <div class="mytutor-sort">
            <div class="dropdown dropdown-language selsct_scheduled">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Choose class status....
                <span class="caret dropdown-language-span"></span>
              </button>
              <ul class="dropdown-menu dropdown-language-menu" aria-labelledby="dropdownMenu1">
                <li><%= link_to "ALL", mytutor_user_path( :mytutor=> 1 ) %></li>
                <li><%= link_to "Scheduled", mytutor_user_path( :mytutor=> 2 ) %></li>
                <li><%= link_to "UnScheduled", mytutor_user_path( :mytutor=> 3 ) %></li>
                <li><%= link_to "Past", mytutor_user_path( :mytutor=> 4 ) %></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xs-12">
          <% @teachers.each do |t|%>
          <div class="tutor-info">
            <div class="clearfix tutor-top">
              <div class="info-mypic col-xs-3 pull-left col-sm-2">
                <%= image_tag(t.user.image.url(:medium)) %>
              </div>
              <div class="info-eval col-xs-7 col-sm-7">
                <p><%= User.find(t.user_id).first_name %>
                  <%= User.find(t.user_id).last_name %></p>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
                <i class="fa fa-star-o"></i>
                <span>(132)</span>
              </div>
              <div class=" col-xs-2 info-flag col-sm-1 col-sm-push-1 info-flag-class-fix">
                <%= image_tag("flag.png") %>
              </div>
            </div>
            <div class="clearfix info-tag">
              <i class="fa fa-comment-o"></i>
              <span>Speak
              </span>
              <span>
                <% t.languages.each do |x| %>
                <%= x.language %>
                <% end %></span><br>
              <i class="fa fa-usd"></i>
              <span>Rate
              </span>
              <span class="moneyred">
                <% if t.ten_fee/10 < t.one_fee %>
                <%= t.ten_fee/10 %>~<%= t.one_fee %>
              <% else %>
                <%= t.one_fee %>~<%= t.ten_fee/10 %>
                <% end %>
                TW/hour</span><br>
              <h5><%= current_user.user_available_sections.first.available_section/2 %>
                UnScheduled</h5>
              <button type="button" data-toggle="modal" data-target="#booknow-<%= t.id %>">Book Now</button>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<% @teachers.each do |t|%>
<div class="modal fade teacher-modal" data-calendar-url="<%= teacher_calendar_teacher_available_section_url(t.id)%>" data-teacher-id="<%= t.id %>" id="booknow-<%= t.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Booking Teacher</h4>
      </div>
      <div class="container-fluid">
        <div class="calender-booking">
          <h6>All time listed are in your local timezone</h6>
          <h6>Only can pick classes after 12 hours from now</h6>
          <div class="insert-calender">
            <div id="calendar-<%= t.id %>"></div>
          </div>
        </div>
        <div class="select-list">

          <div class="row">
            <div class="col-xs-4">
              <div class="time">
                <span>Type</span>
                <%#=  ,{disabled:trail_check(current_user,t) }%>
                <%= select({},{},options_for_select([["Normal 1hour", "2"],["Trail 30mins", "1"]] ,{}),{}, {id:"type_select_#{t.id}" ,:class=>"selectpicker show-menu-arrow type-select" ,"data-size" =>"5.5","data-width" =>"100%"} )%>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="day">
                <span>Day</span>

                <%= select({},{},t.find_available_days(),{}, {id:"day_select_#{t.id}" ,:class=>"selectpicker show-menu-arrow day-select" ,"data-size" =>"5.5","data-width" =>"100%"} )%>
                <%#= collection_select(:language_ids, Language.all, :id, :language,{}, { :class => "form-control",:id=>"language-select",:style=>"width:100%;" }) %>
              </div>

            </div>
            <div class="col-xs-5">
              <div class="time">
                <span>Time</span>
                <%#= @type %>
                <%#= select({},{},t.find_available_times("Thu, 3 Jun 2016",2),{}, {id:"times_select_#{t.id}" ,:class=>"selectpicker show-menu-arrow" ,"data-size" =>"5.5","data-width" =>"100%"} )%>

                <div id="times-select-<%= t.id %>">
                  <%= select({},{},@times,{}, {id:"times_select_#{t.id}" ,:class=>"selectpicker show-menu-arrow" ,"data-size" =>"5.5","data-width" =>"100%"} )%>
                </div>

                <%#= select({},{},t.find_available_times("Sun, 3 Jun 2016",2).map{|x| x[0].strftime('%R')+" - "+x[1].strftime('%R') },{}, {:class=>"selectpicker show-menu-arrow" ,"data-size" =>"5.5","data-width" =>"100%"} )%>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn closebtn" data-dismiss="modal">Close</button>
        <button class="btn bookteacherbtn">Quick Book</button>
      </div>
    </div>
  </div>
</div>
<% end %>

<script>
  $(document).ready(function () {
    //
    // <% @teachers.each do |t|%>
    //
    // $('#times_select_<%= t.id %>').selectpicker({size: 4});
    //
    // $('#type_select_<%= t.id %>').on('change', function () {
    //   var type = $(this).val();
    //
    //   console.log(type)

  $('.teacher-modal').on('shown.bs.modal', function () {
    var teacher_modal = $(this).closest(".teacher-modal")
    var tid = teacher_modal.data("teacher-id");
    var calendar_url = teacher_modal.data("calendar-url");

    $('#calendar-' + tid ).fullCalendar({
      //lulu setting
      buttonIcons: false,
      buttonText: {
        prev: '<  Prev',
        next: 'Next  >'
      },
      header: {
        left: 'prev',
        center: 'title',
        right: 'next'
      },
      axisFormat: 'H:mmA',
      dragOpacity: {
        agenda: .5
      },
      theme: false,
      dragScroll: false,
      contentHeight: 'auto',
      eventColor: '#C73C3C',
      //lulu setting 24小時制 大寫H timeFormat: 'H:mm',
      allDaySlot: false,
      defaultDate: '<%=Time.now.strftime("%Y-%m-%d")%>',
      defaultView: 'agendaWeek',
      ignoreTimezone: false,
      droppable: true,
      eventLimit: true, // allow "more" link when too many events
      eventSources: [
        {
          //teacher events source
          url: calendar_url,
          rendering: 'background'
        }
      ]
      });
    });


  function update_times_select() {
    var teacher_modal = $(this).closest(".teacher-modal");

    var selected = teacher_modal.find(".day-select").find("option:selected").val();
    //var type_selected = teacher_modal.find(".type-select").find("option:selected").val();
    var type = teacher_modal.find(".type-select").find("option:selected").val();

    var tid = teacher_modal.data("teacher-id");

    var userid = <%= current_user.id %>;
    $.ajax({
      type: 'GET',
      dataType: 'script',
      url: "/users/" + userid + "/mytutor",
      data: {
        tid: tid,
        selected: selected,
        type: type
      }
    });
  }
  $('.type-select').on('change', function(){
    update_times_select.bind(this)();
  });

  $('.day-select').on('change', function(){
    update_times_select.bind(this)();
  });
 });
</script>
