<div class="container">
  <div class="row">
    <div class="col-md-5 text-center ">
      <%= render "sidebar"%>
    </div>
    <div class="col-md-7">
      <div class="row_spical_fix">
        <% if UserAvailableSection.where(user_id:current_user).count != 0 %>
            <% UserAvailableSection.where(user_id:current_user).each do |a| %>
                <div class="col-xs-12">
                  <div class="tutor-info">
                    <div class="clearfix tutor-top">
                      <div class="info-mypic col-xs-3 pull-left col-sm-2">
                        <%= user_headimage(a.teacher.user) %>
                      </div>
                      <div class="info-eval col-xs-7 col-sm-7">
                        <p><%= a.teacher.user.last_name %> <%= a.teacher.user.first_name %></p>
                        <div id="rateYo-<%= a.teacher_id %>" ></div>
                        <span>(<%= Evaluation.where(evaluatable_type: "User", evaluated_id: a.teacher_id ).count %>)</span>

                      </div>
                      <div class=" col-xs-2 info-flag col-sm-1 col-sm-push-1 info-flag-class-fix">
                        <%= image_tag("flag.png") %>
                      </div>
                    </div>
                    <div class="clearfix info-tag">
                      <i class="fa fa-comment-o"></i>
                      <span>Speak:</span>
              <span>
                <% a.teacher.languages.each do |language| %>
                <%= language.language %>
                <% end %>
              </span><br>
                      <i class="fa fa-usd"></i>
              <span>Rate
              </span>
              <span class="moneyred">
                <%= render partial: 'welcome/moneyred', locals: {t: a.teacher} %>
              </span><br>
                      <% if  a.available_section == 1 %>
                      <h5>1 Trial</h5>
                          <% else %>
                      <h5><%= a.available_section/2 %> UnScheduled</h5>
                          <% end %>
                      <% if a.available_section == 0 %>
                          <p><%= link_to "Find a Tutor",teacherwall_path %></p>
                      <% else %>
                          <button type="button" data-toggle="modal" data-target="#booknow-<%= a.teacher.id %>">Book Now</button>
                      <% end %>
                    </div>
                  </div>
                </div>
            <% end %>
        <% else %>
            <%= render partial: 'recommend' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% @teachers.each do |t|%>
    <div class="modal fade teacher-modal" data-calendar-url="<%= teacher_calendar_teacher_available_section_path(t.id)%>" data-teacher-id="<%= t.id %>" id="booknow-<%= t.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Booking Teacher</h4>
          </div>
          <div class="container-fluid">
            <div class="calender-booking">
              <h6>All time listed are in your local timezone</h6>
              <div class="insert-calender">
                <div id="calendar-<%= t.id %>"></div>
              </div>
            </div>
            <div class="select-list">
              <h6>Only can pick classes after 12 hours from now</h6>
              <div class="row">
                <%#= form_for @appointment, :url => url_for(:controller => 'appointments', :action => 'create') do |x|%>
                <div class="col-xs-4">
                  <div class="time">
                    <span>Type</span>
                    <%= select({},{},options_for_select([["Normal 1hour", "2"],["Trail 30mins", "1"]],{disabled:trail_check(current_user,t) }),{}, {id:"type_select_#{t.id}" ,:class=>"selectpicker show-menu-arrow type-select" ,"data-size" =>"5.5","data-width" =>"100%"} )%>
                  </div>
                </div>
                <div class="col-xs-3">
                  <div class="day">
                    <span>Day</span>
                    <%= select({},{},t.find_available_days(), {:include_blank => "Select a day"}, {id:"day_select_#{t.id}" ,:class=>"selectpicker show-menu-arrow day-select" ,"data-size" =>"5.5","data-width" =>"100%"} )%>
                    <%#= collection_select(:language_ids, Language.all, :id, :language,{}, { :class => "form-control",:id=>"language-select",:style=>"width:100%;" }) %>
                  </div>
                </div>
                <div class="col-xs-5">
                  <div class="time">
                    <span>Time</span>

                    <div id="times-select-<%= t.id %>">
                      <%= select({},{},@times,{:include_blank => "Select day first"}, {id:"times_select_#{t.id}" ,:class=>"selectpicker show-menu-arrow time-select" ,"data-size" =>"5.5","data-width" =>"100%"} )%>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn closebtn" data-dismiss="modal">Close</button>
            <%#= x.submit 'Quick Book',:class=>"btn bookteacherbtn" %>
            <button type="button" class="btn bookteacherbtn book_pass_params" data-dismiss="modal">Quick Book</button>
          </div>
        </div>
      </div>
    </div>
<% end %>

<script>
  $('.teacher-modal').on('hidden.bs.modal', function () {
    window.location.href = "/users/"+<%= current_user.id %>+"/classes";
  });
  $('.teacher-modal').on('shown.bs.modal', function () {
    var teacher_modal = $(this).closest(".teacher-modal")
    var tid = teacher_modal.data("teacher-id");
    var calendar_url = teacher_modal.data("calendar-url");

    $('#calendar-' + tid ).fullCalendar({
      //lulu setting
      buttonIcons: false,
      buttonText: {
        prev: '<  Prev',
        next: 'Next  >'
      },
      header: {
        left: 'prev',
        center: 'title',
        right: 'next'
      },
      axisFormat: 'H:mmA',
      dragOpacity: {
        agenda: .5
      },
      theme: false,
      dragScroll: false,
      contentHeight: 'auto',
      eventColor: '#C73C3C',
      //lulu setting 24小時制 大寫H timeFormat: 'H:mm',
      allDaySlot: false,
      defaultDate: '<%=Time.now.strftime("%Y-%m-%d")%>',
      defaultView: 'agendaWeek',
      ignoreTimezone: false,
      droppable: true,
      eventLimit: true, // allow "more" link when too many events
      eventSources: [
        {
          //teacher events source
          url: calendar_url,
          rendering: 'background'
        }
      ]
    });
  });

  function update_times_select() {
    var teacher_modal = $(this).closest(".teacher-modal");

    var selected = teacher_modal.find(".day-select").find("option:selected").val();
    //var type_selected = teacher_modal.find(".type-select").find("option:selected").val();
    var type = teacher_modal.find(".type-select").find("option:selected").val();

    var tid = teacher_modal.data("teacher-id");

    var userid = <%= current_user.id %>;
    $.ajax({
      type: 'GET',
      dataType: 'script',
      url: "/users/" + userid + "/mytutor",
      data: {
        tid: tid,
        selected: selected,
        type: type
      }
    });
  }

  $('.type-select').on('change', function(){
    update_times_select.bind(this)();
  });

  $('.day-select').on('change', function(){
    update_times_select.bind(this)();
  });

  $('.book_pass_params').click(function(){
    var teacher_modal = $(this).closest(".teacher-modal");

    var selected = teacher_modal.find(".day-select").find("option:selected").val();
    //var type_selected = teacher_modal.find(".type-select").find("option:selected").val();
    var type = teacher_modal.find(".type-select").find("option:selected").val();

    var tid = teacher_modal.data("teacher-id");
    var time = teacher_modal.find("#times_select_"+tid).find("option:selected").val();
    $.ajax({
      type: 'POST',
      dataType: 'script',
      url: "/appointments",
      data: {
        tid: tid,
        selected: selected,
        time: time
      }
    });
  });


  <% UserAvailableSection.where(user_id:current_user).select(:teacher_id).uniq.each do |a|%>
  $("#rateYo-<%= a.teacher_id %>").rateYo({starWidth: "18px", numStars: 5, fullStar: true, readOnly: true, rating: <%= a.teacher.avg_rating %>});
  <% end %>

</script>
