<div class="container">
  <div class="row">
    <div class="col-md-5 text-center col-xs-12">
      <%= render "sidebar"%>
    </div>

    <div class="col-md-7 col-xs-12">
      <div class="scheduled-content scheduled-editprofile-fix">
        <div class="scheduled-content-head">
          <h4>Edit Profile</h4>
        </div>
        <span><%= flash[:success]  %></span>

        <div class="form-group">
          <%= form_for @user do |f| %>
          <%= user_headimage(@user) %>
          <div class="filebuttondiv">
            <i class="fa fa-pencil" aria-hidden="true"></i>
            <span>Edit Profile Photo</span>
            <%= f.file_field :image ,class:"filebutton" %>
          </div>
          <% if @user.image.exists? %>
          <%= check_box_tag "_remove_image", "1" %>Remove image
          <% end %>

          <div class="input-group clearfix">
            <%= f.label :username, "User Name" %>
            <%= f.text_field :username, :class => "form-control" %>
          </div>
          <div class="input-group clearfix ">
            <%= f.label :first_name, "First Name" %>
            <%= f.text_field :first_name, :class => "form-control" %>
          </div>
          <div class="input-group clearfix">
            <%= f.label :last_name, "Last Name" %>
            <%= f.text_field :last_name, :class => "form-control" %>
          </div>
          <div class="input-group clearfix">
            <%= f.label :email, "Email" %>
            <%= f.email_field :email, :class => "form-control" %>
          </div>
          <div class="input-group clearfix birthday-fix">
            <%= f.label :birthday, "Birthday" %>
            <%= f.date_select :birthday,start_year: 1950, :class => 'datepicker' %>
          </div>

          <div class="input-group clearfix">
            <%= f.label :location, "Location" %>
            <%= f.country_select( "location", { priority_countries: ["GB", "FR"], selected: "GB" }, { class: 'form-control'}) %>
          </div>
          <div class="input-group clearfix">
            <%= f.label :currency, "Currency" %>
            <%= f.select(:currency ,options_for_select([["紙錢", 3],["美金", 1]],"3"),{}, {:class => "form-control"} )%>
          </div>

          <div class="input-group clearfix">
            <%= f.label :time_zone, "TimeZone" %>
            <%= f.time_zone_select(:time_zone ,ActiveSupport::TimeZone.us_zones,{}, {:class => "form-control"} )%>
          </div>
          <div class="facegoogle">
            <%= button_to "Connect to Facebook", user_facebook_omniauth_authorize_path %>
            <%= button_to "Connect to Google+", user_google_oauth2_omniauth_authorize_path %>
          </div>
        </div>
      </div>
      <div class="editprofile-save">
        <%= f.submit 'SAVE' %>
      </div>
      <% end %>
      <!--for lululala edit view-->
    </div>
  </div>
</div>

<script>
  $("#user_birthday_1i").selectpicker({width: '33%'});
  $("#user_birthday_2i").selectpicker({width: '33%'});
  $("#user_birthday_3i").selectpicker({width: '33%'});
</script>
