<div class="container">
  <div class="row">
    <div class="col-md-5 text-center col-xs-12">
      <%= render "sidebar"%>
    </div>

    <div class="col-md-7 col-xs-12">
      <div class="scheduled-content scheduled-editprofile-fix">
        <div class="scheduled-content-head">
          <h4>Edit Profile</h4>
        </div>
        <div class="form-group">
          <%= form_for @user do |f| %>
          <div class="input-group clearfix">
            <%= f.label :username, "UserName" %>
            <%= f.text_field :username, :class => "form-control" %>
          </div>
          <div class="input-group clearfix ">
            <%= f.label :first_name, "First Name" %>
            <%= f.text_field :first_name, :class => "form-control" %>
          </div>
          <div class="input-group clearfix">
            <%= f.label :last_name, "Last Name" %>
            <%= f.text_field :last_name, :class => "form-control" %>
          </div>
          <div class="input-group clearfix">
            <%= f.label :email, "Email" %>
            <%= f.email_field :email, :class => "form-control" %>
          </div>
          <div class="input-group clearfix ">
            <%= f.label :birthday, "Birthday" %>
            <%= f.date_select :birthday, :class => 'datepicker' %>
          </div>

          <div class="input-group clearfix">
            <%= f.label :location, "Location" %>
            <%= f.select(:location ,options_for_select([["台北", 3],["印尼", 1]],"3"),{}, {:class => "form-control"} )%>
          </div>
          <div class="input-group clearfix">
            <%= f.label :currency, "Currency" %>
            <%= f.select(:currency ,options_for_select([["紙錢", 3],["美金", 1]],"3"),{}, {:class => "form-control"} )%>
          </div>
          <div class="input-group clearfix">
            <%= f.label :time_zone, "TimeZone" %>
            <%= f.select(:time_zone ,options_for_select([["白天", 3],["半夜", 1]],"3"),{}, {:class => "form-control"} )%>
          </div>
        </div>
      </div>
      <div class="editprofile-save">
        <%= f.submit 'SAVE', :class => "" %>
      </div>
      <% end %>

    </div>
  </div>
</div>
