<!-- 老師評語的CSS在welcome裡面 -->
<div class="container">
  <div class="row">
    <div class="col-md-5 text-center">
      <%= render "sidebar"%>
    </div>

    <div class="col-md-7 ">
    <% i=0 %>
    <% @evaluations.each do |e| %>
    <% i+=1 %>
      <div class="scheduled-content col-xs-12 remark">
        <div class="clearfix flexmodify">
          <div class="info-mypic col-xs-3  col-sm-2">
            <%= user_headimage(User.find(e.appointment.teacher.user)) %>
          </div>
          <div class="info-eval col-xs-7 col-sm-7">
            <p><%= User.find(e.appointment.teacher.user).first_name %>
               <%= User.find(e.appointment.teacher.user).last_name %></p>
            <div id="rateYo-<%= i %>" ></div>
            <span>(<%= Evaluation.where(evaluatable_type: "User",
                  evaluated_id: Teacher.find(e.appointment.teacher) ).count %>)
            </span>
          </div>
          <div class=" col-xs-2 info-flag col-sm-1 col-sm-push-1">
            <%= image_tag("flag.png") %>
          </div>
        </div>
        <div class="col-xs-12 clearfix info-tag">
          <i class="fa fa-comment-o"></i>
          <span>Speak
          </span>
          <span>
            <% Teacher.find(e.appointment.teacher).languages.each do |language| %>
              <%= language.language %>
            <% end %>
          </span><br>
          <i class="fa fa-usd"></i>
          <span>Rate
          </span>
          <span class="moneyred">400-650TW/hour</span><br>
          <i class="fa fa-rss"></i>
          <span>Trial
          </span>
          <span>Yes</span>
        </div>
        <div class="col-xs-12 info-pro-fix">
          <p><%= e.comment %></p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  var i = 0;
  $(document).ready(function () {

    <% @evaluations.each do |e|%>
    i += 1;
    $("#rateYo-" + i).rateYo({starWidth: "18px", numStars: 5, fullStar: true,
      readOnly: true, rating: <%= Teacher.find(e.appointment.teacher).avg_rating %>});

    <% end %>

  });
</script>








