<div class="container">
  <div class="row">
    <div class="col-md-5 text-center  col-xs-12">
      <%= render "sidebar"%>
    </div>
    <div class="col-md-7  col-xs-12">
      <div class="scheduled-content scheduled-changepassword-fix">
        <div class="scheduled-content-head">
          <h4>Change Password</h4>
        </div>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <div class="input-group clearfix">
          <%= f.label :password %>
          <i>(leave blank if you don't want to change it)</i><br/>
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
        <div class="input-group clearfix">
          <%= f.label :password_confirmation %><br/>
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
        <div class="input-group clearfix">
          <%= f.label :current_password %>
          <i>(we need your current password to confirm your changes)</i><br/>
          <%= f.password_field :current_password, autocomplete: "off" %>
        </div>
      </div>

      <div class="editprofile-save">
        <%= f.submit "Update" %>
      </div>
    </div>
    <% end %>
  </div>
</div>
