<div class="log reset">
  <div class="container-fluid">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <h3>Reset Password</h3>
    <hr>
    <%= devise_error_messages! %>

    <div class="logup_input">
      <%= f.email_field :email, autofocus: true, :class => "form-control",:placeholder=>"Email"%>
    </div>
    <div class="goto">
      <%= link_to(t("I already have an account"), new_session_path(:user))%>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Reset Password" , :class => "form-control"%>
  </div>
  <% end %>
</div>
