<% @teachers.each do |t| %>
    <% if t.check == "checked" %>
        <div class="container scroll">
          <div class="info">
            <div class="row">
              <div class="col-sm-5">
                <div class="youtube-container">
                  <div class="youtube-player-<%= t.id %> youtube-player" data-id="<%= t.youtube_website %>"></div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-7">
                <div class="col-xs-12 clearfix flexmodify">
                  <div class="info-mypic col-md-2 col-xs-3">
                    <%= image_tag(t.user.image.url(:medium)) %>
                  </div>
                  <%= link_to profile_teacher_path(t)  do %>
                      <div class="info-eval col-md-7 col-xs-7">
                        <p><%= User.find(t.user_id).first_name %>
                          <%= User.find(t.user_id).last_name %></p>
                        <div id="rateYo-<%= t.id %>" ></div>
            <span>(<%= Evaluation.where(evaluatable_type: "User", evaluated_id: t.id ).count %>)
                      </div>
                      <div class=" col-xs-2 info-flag col-md-push-2 col-md-1">
                        <%= image_tag("flag.png") %>
                      </div>
                      </div>
                      <div class="col-xs-12 clearfix info-tag">
                        <i class="fa fa-comment-o"></i>
          <span>Speak:
          </span>
          <span>
            <% t.languages.each do |x| %>
            <%= x.language %>
            <% end %>
          </span><br>
                        <i class="fa fa-usd"></i>
          <span>Rate:
          </span>
          <span class="moneyred">
            <%= render partial: 'moneyred', locals: {t: t} %>
          </span><br>


                        <i class="fa fa-rss"></i>
          <span>Trial:
          </span>
          <span>
            <% if t.trial_fee == 0 %>
              <%= "free" %>
            <% elsif t.trial_fee == nil %>
              <%= "no" %>
            <% else %>
              <%= "yes" %>
            <% end %>
          </span>
                      </div>
                      <div class="col-xs-12 info-pro">
                        <p class="teacherwallpa"><%= t.introduction %></p>
                      </div>
                  <% end %>
                  </div>
            </div>
          </div>
        </div>
    <% end %>
<% end %>

<script>
  $(document).ready(function () {
    (function () {
      <% @teachers.each do |t| %>
      var v = document.getElementsByClassName("youtube-player-<%= t.id %>");
      for (var n = 0; n < v.length; n++) {
        var p = document.createElement("div");
        p.innerHTML = labnolThumb(v[n].dataset.id);
        p.onclick = labnolIframe;
        v[n].appendChild(p);
      }
      <% end %>
    })();
    function labnolThumb(id) {
      return '<img class="youtube-thumb" src="//i.ytimg.com/vi/' + id + '/hqdefault.jpg"><div class="play-button"></div>';
    }
    function labnolIframe() {
      var iframe = document.createElement("iframe");
      iframe.setAttribute("src", "//www.youtube.com/embed/" + this.parentNode.dataset.id + "?autoplay=1&autohide=2&border=0&wmode=opaque&enablejsapi=1&showinfo=0");
      iframe.setAttribute("frameborder", "0");
      iframe.setAttribute("id", "youtube-iframe");
      this.parentNode.replaceChild(iframe, this);
    }

    <% @teachers.each do |t|%>
    $("#rateYo-<%= t.id %>").rateYo({starWidth: "18px", numStars: 5, fullStar: true, readOnly: true, rating: <%= t.avg_rating %>});

    <% end %>
  });
</script>
