<section class="header">
  <div class="content-apply">
    <h2>申請華語教師 在家教中文</h2>
    <h4>在家教華語 每週增加上萬元收入</h4>
    <% if current_user %>
        <%= link_to "立即申請" ,apply_teacher_file_path %>
    <% else %>
        <%= link_to "立即申請" ,new_user_registration_path(apply: "teacher") %>
    <% end %>
  </div>
</section>
<section class="reason">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-xs-12 col-md-offset-3">
        <h3>加入 AmazingTutor 的理由</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-xs-12">
        <%= image_tag("money_bag_filled.png") %>
        <h4>賺取額外收入</h4>
        <h5>作為一名Amazingtutor教師您可以隨意設定自己的價格。線上授課即可輕鬆賺取上萬塊台幣。</h5>
      </div>
      <div class="col-md-4 col-xs-12">
        <%= image_tag("bullish_filled.png") %>
        <h4>建立個人品牌</h4>
        <h5>建立線上教學聲譽，展示教學品質、與您的教學經驗背景，使用該聲譽讓更多學員找到你。</h5>
      </div>
      <div class="col-md-4 col-xs-12">
        <%= image_tag("thursday_copy.png") %>
        <h4>彈性教課</h4>
        <h5>您的教學時間由您自己決定！學生僅可以在你安排的可用時間內預約您的課時。</h5>
      </div>
    </div>
  </div>
</section>

<section class="apply">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-xs-12 col-md-offset-3">
        <h3>立即申請</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-md-offset-1 col-xs-12">
        <%= image_tag("1462287713_finance-46.png") %>
        <h4>線上申請 快速加入</h4>
        <h5>現在立即30秒完成註冊 馬上線上開始教課！</h5>
      </div>
      <div class="col-md-5 col-xs-12">
        <%= image_tag("1462287740_finance-60.png") %>
        <h4>免加入費用 週週加薪上萬塊</h4>
        <h5>無需任何額外費用，超高賺錢效率讓你每週為自己輕鬆加薪！</h5>
      </div>
    </div>
  </div>
</section>

<!--<section class="apply_input">-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-md-4 col-md-offset-1 col-xs-12">-->
<!--<h4>立即開始教課</h4>-->
<!--<h5>留下你的聯絡資料，我們服務將在近期正式上線，屆時您將可以開始在家教學的旅程，輕鬆開始在家工作的新生活！趕緊加入我們吧！</h5>-->
<!--</div>-->
<!--<div class="col-md-5 col-xs-12 col-md-push-1">-->
<!--<input type="text" placeholder="   Name" >-->
<!--<input type="text" placeholder="   Email">-->
<!--<input type="text" placeholder="   Phone">-->
<!--<button>立即申請</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</section>-->
<section class="teacherQA">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>教師Q&A</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h4>1.我需要的教學經驗？</h4>
        <h5>我們會建議您有相關的教學經驗，但您依然可以提出申請，我們會依照您的申請內容判定是否能成為我們的教師。</h5>
      </div>
      <div class="col-md-6">
        <h4>4.我該如何申請任教於Amazingtutor？</h4>
        <h5>在Amazingtutor 提交申請表，並等待審核。</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h4>2.我是否需要教師資格證？</h4>
        <h5>如果有正式的教師證可以大大的加分並增加錄取的機會，但不是必須的。</h5>
      </div>
      <div class="col-md-6">
        <h4>5.我可以申請教導不是目前Amazingtutor列出的語言？</h4>
        <h5>目前的計畫是只有中文教學，您可以提出申請教授其他語言，我們團隊收到後會進行評估。</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h4>3.我需要成為是母語者嗎？</h4>
        <h5>通常情況下，在 Amazingtutor 最好的老師是那些教他們的母語經驗。然而，我們有時會有中文能力極佳的非母語者成為教師。</h5>
      </div>
      <div class="col-md-6">
        <h4>6.我什麼時候能收到 Amazingtutor 的通知？</h4>
        <h5>您的申請我們會在二週內回覆，不管申請成功或是失敗，由於申請人數眾多，我們只通知合格申請者。如果您遲遲未收到我們的信件，歡迎二周後再次申請。</h5>
      </div>
    </div>
  </div>
</section>

<section class="payment_teacher">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3>費用支付</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h4>1.多久付款一次？</h4>
        <h5>每月十號會寄出您的教師費用，並在每月十五號撥款。
        </h5>
      </div>
      <div class="col-md-6">
        <h4>2. 我該如何找學生？</h4>
        <h5>Amazingtutor專注打造更棒的線上中文學習，取得更多潛力中文學生。你只需要專心累積自己的授課評價以及紀錄，就可以讓更多想學中文的學生可以在這平台上找到你!
        </h5>
      </div>
    </div>
  </div>
</section>
<section class="techniqe">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3>需要技術</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h4>1. 我需要做什麼來教上Amazingtutor？</h4>
        <h5>教師需要一個非常可靠的網路環境，一個正常運作的麥克風和網絡攝像頭。
        </h5>
      </div>
      <div class="col-md-6">
        <h4>2. 我使用的是什麼即時影音科技？</h4>
        <h5>在Amazingtutor所有的教學是透過google hangouts 進行視頻上課（不要擔心 如果你是新來的Hangouts，我們可以向你保證它很容易上手且易於使用）。
        </h5>
      </div>
    </div>
    <% if current_user %>
        <%= link_to "立即申請" ,apply_teacher_file_path,class:"apply_now" %>
    <% else %>
        <%= link_to "立即申請" ,new_user_registration_path(apply: "teacher"),class:"apply_now" %>
    <% end %>
  </div>
</section>
