<div class="jumbotron jumbotron-modify">
  <div class="container">
    <h2>Find a Chinese Tutor</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid saepe in sequi voluptatum ducimus id, error ex, esse nisi ipsam mollitia quisquam atque repudiandae dolorum. Aspernatur quod ducimus dicta laborum explicabo totam inventore neque
      doloremque, reprehenderit temporibus excepturi facere. Error unde voluptates cum reiciendis labore, dolorem, modi vero sed impedit.</p>
  </div>
</div>
<div class="container-fluid search">
  <div class="row-fluid">
    <div class="container">
      <div class="col-sm-4 col-md-4">
        <p>Tutor's Sub-languages</p>
        <%#= collection_select({},:language_ids, Language.all, :id, :language,{:prompt => "Teacher also know the ...."}, { :id => "index_languages",:style=>"width:100%;" }) %>
        <div class="dropdown dropdown-language">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Teacher also know the ....
            <span class="caret dropdown-language-span"></span>
          </button>
          <ul class="dropdown-menu dropdown-language-menu" aria-labelledby="dropdownMenu1">
            <% if params[:week] %>
                <li><%= link_to "All", teacherwall_path(:week=>params[:week] ) %></li>
                <% Language.all.each do |l| %>
                    <li><%= link_to l.language, teacherwall_path( :language_id => l.id,:week=>params[:week]  ) %></li>
                <% end %>
            <% else %>
                <li><%= link_to "All", teacherwall_path %></li>
                <% Language.all.each do |l| %>
                    <li><%= link_to l.language, teacherwall_path( :language_id => l.id  ) %></li>
                <% end %>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="col-sm-4 col-md-4">
        <p>Availability</p>
        <div class="dropdown dropdown-language">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Choose time you want....
            <span class="caret dropdown-language-span"></span>
          </button>
          <ul class="dropdown-menu dropdown-language-menu" aria-labelledby="dropdownMenu1">
            <% if params[:language_id ]  %>
                <li><%= link_to "All", teacherwall_path(:language_id=> params[:language_id]) %></li>
                <li><%= link_to "Monday", teacherwall_path( :week=> 1 ,:language_id=> params[:language_id]) %></li>
                <li><%= link_to "Tuesday", teacherwall_path( :week=>2 ,:language_id=> params[:language_id] ) %></li>
                <li><%= link_to "Wednesday", teacherwall_path( :week=> 3,:language_id=> params[:language_id] ) %></li>
                <li><%= link_to "Thursday", teacherwall_path( :week=> 4,:language_id=> params[:language_id] ) %></li>
                <li><%= link_to "Friday", teacherwall_path( :week=> 5,:language_id=> params[:language_id] ) %></li>
                <li><%= link_to "Saturday", teacherwall_path( :week=> 6,:language_id=> params[:language_id] ) %></li>
                <li><%= link_to "Sunday", teacherwall_path( :week=> 7,:language_id=> params[:language_id] ) %></li>
            <% else %>
                <li><%= link_to "All", teacherwall_path  %></li>
                <li><%= link_to "Monday", teacherwall_path( :week=> 1 ) %></li>
                <li><%= link_to "Tuesday", teacherwall_path( :week=>2  ) %></li>
                <li><%= link_to "Wednesday", teacherwall_path( :week=> 3 ) %></li>
                <li><%= link_to "Thursday", teacherwall_path( :week=> 4 ) %></li>
                <li><%= link_to "Friday", teacherwall_path( :week=> 5 ) %></li>
                <li><%= link_to "Saturday", teacherwall_path( :week=> 6 ) %></li>
                <li><%= link_to "Sunday", teacherwall_path( :week=> 7 ) %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="col-sm-4 col-md-4">
        <p>Price US dollars</p>
        <input id="priceslide" type="text" class="priceslide" value="" data-slider-min="10" data-slider-max="1000" data-slider-step="5" data-slider-value="[250,450]" style="width:100% !important"/>
      </div>
    </div>
  </div>
</div>
<div id="teachers">
  <%= render "teacher", :locals => {:teachers => @teachers} %>
</div>
<script>
  $(document).ready(function () {
    $("#js-example-basic-single").select2();
    $('#priceslide').slider({value: [10,1000]}).on('slideStop', function (ev) {
      var price = $('#priceslide').data('slider').getValue();

      $.ajax({
        url: "/teacherwall",
        contentType: false,
        type: 'GET',
        data: {
          price: price
        }
      });
    });
  });
</script>
