<div class="jumbotron jumbotron-modify">
  <div class="container">
      <h2>Find a Chinese Tutor</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid saepe in sequi voluptatum ducimus id, error ex, esse nisi ipsam mollitia quisquam atque repudiandae dolorum. Aspernatur quod ducimus dicta laborum explicabo totam inventore neque
        doloremque, reprehenderit temporibus excepturi facere. Error unde voluptates cum reiciendis labore, dolorem, modi vero sed impedit.</p>
  </div>
</div>

<div class="container-fluid search">
  <div class="row-fluid">
    <div class="container">
      <div class="col-sm-4 col-md-4">
        <p>Tutor's Sub-languages</p>
        <%#= collection_select({},:language_ids, Language.all, :id, :language,{:prompt => "Teacher also know the ...."}, { :id => "index_languages",:style=>"width:100%;" }) %>
        <div class="dropdown dropdown-language">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Teacher also know the ....
            <span class="caret dropdown-language-span"></span>
          </button>
          <ul class="dropdown-menu dropdown-language-menu" aria-labelledby="dropdownMenu1">
            <li><%= link_to "All", root_path %></li>
            <% Language.all.each do |l| %>
            <li><%= link_to l.language, root_path( :language_id => l.id ) %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="col-sm-4 col-md-4">
        <p>Availability</p>
        <div class="dropdown dropdown-language">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Choose time you want....
            <span class="caret dropdown-language-span"></span>
          </button>
          <ul class="dropdown-menu dropdown-language-menu" aria-labelledby="dropdownMenu1">
            <li><%= link_to "Monday", root_path( :week=> 1 ) %></li>
            <li><%= link_to "Tuesday", root_path( :week=>2  ) %></li>
            <li><%= link_to "Wednesday", root_path( :week=> 3 ) %></li>
            <li><%= link_to "Thursday", root_path( :week=> 4 ) %></li>
            <li><%= link_to "Friday", root_path( :week=> 5 ) %></li>
            <li><%= link_to "Saturday", root_path( :week=> 6 ) %></li>
            <li><%= link_to "Sunday", root_path( :week=> 7 ) %></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4 col-md-4">
        <p>Price</p>
        <input id="priceslide" type="text" class="priceslide" value="" data-slider-min="10" data-slider-max="1000" data-slider-step="5" data-slider-value="[250,450]" style="width:100% !important"/>
      </div>
    </div>
  </div>
</div>

<% @teachers.each do |t| %>
<% if t.check == "checked" %>
<div class="container">
  <div class="info">
    <div class="row">
      <div class="info-image col-sm-5">
        <iframe src="<%= t.youtube_website %>?playlist=&version=3&controls=0&fs=0&rel=0&showinfo=0&iv_load_policy=3&theme=light" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-xs-12 col-sm-7">
        <div class="col-xs-12 clearfix flexmodify">
          <div class="info-mypic col-md-2 col-xs-3">
            <%=   image_tag(User.find(t.user_id).image.url(:medium)) %>
          </div>
          <%= link_to profile_teacher_path(t)  do %>
          <div class="info-eval col-md-7 col-xs-7">
            <p><%= User.find(t.user_id).first_name %>
              <%= User.find(t.user_id).last_name %></p>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-half-o"></i>
            <i class="fa fa-star-o"></i>
            <span>(132)</span>
          </div>
          <div class=" col-xs-2 info-flag col-md-push-2 col-md-1">
            <%= image_tag("flag.png") %>
          </div>
        </div>
        <div class="col-xs-12 clearfix info-tag">
          <i class="fa fa-comment-o"></i>
          <span>Speak
          </span>
          <span>
            <% t.languages.each do |x| %>
            <%= x.language %>
            <% end %>
          </span><br>
          <i class="fa fa-usd"></i>
          <span>Rate
          </span>
          <span class="moneyred"><%= t.ten_fee/10 %>~<%= t.one_fee %>
            TW/hour</span><br>
          <i class="fa fa-rss"></i>
          <span>Trial
          </span>
          <span>Yes</span>
        </div>
        <div class="col-xs-12 info-pro">
          <p><%= t.introduction %></p>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>
<% end %>

<script>
  $(document).ready(function () {
    $("#js-example-basic-single").select2();
    $('#priceslide').slider().on('slideStop', function (ev) {
      var price = $('#priceslide').data('slider').getValue();
      console.log(price);
      $.ajax({
        type: 'POST',
        url: "/appointments/" + appointment_id + "/evaluations",
        data: {
          type: 0,
          rating: rating,
          comment: comment
        }
      });


    });
  });
</script>
