<section class="main-head">
  <div class="container-fluid main_head_content">
    <div class="row">
      <div class="col-md-4 col-md-push-1 main_head_link">
        <h1>Learn to speak Chinese in 30 minutes</h1>
        <h3>one-on-one mandarin lessons from native speakers</h3>
        <%= link_to "Get Start Now",teacherwall_path %>
      </div>
    </div>
  </div>
</section>
<section class="teacherwall">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>200+ Professional Teachers</h1>
        <h3>All of our teachers have a certificate, degree or experience in Chinese teaching.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-push-1">
        <div class="row">
          <div class="col-md-4 col-xs-6 teacherpic">
            <%= image_tag("6.jpg") %>
          </div>
          <div class="col-md-4 col-xs-6 teacherpic">
            <%= image_tag("2.jpg") %>
          </div>
          <div class="col-md-4 col-xs-6 teacherpic">
            <%= image_tag("3.jpg") %>
          </div>
          <div class="col-md-4 col-xs-6 teacherpic">
            <%= image_tag("1.jpg") %>
          </div>
          <div class="col-md-4 col-xs-6 teacherpic">
            <%= image_tag("5.jpg") %>
          </div>
          <div class="col-md-4 col-xs-6 teacherpic">
            <%= image_tag("4.jpg") %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="golesson">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>How Do I Schedule a Lesson?</h1>
        <h3>Easy to have an online private tutor class via AmazingTutor!</h3>
      </div>
    </div>
    <div class="row">

      <div class="col-md-4 lesson_pic"><%= image_tag("43.png") %>
        <h3>Choose a Tutor</h3>
        <h4>Watch our Tutor’s profile videos and read reviews from previous students.</h4>
      </div>

      <div class="col-md-4 lesson_pic"><%= image_tag("42.png") %>
        <h3>Book a Lesson</h3>
        <h4>Choose a time that fits your schedule the best.</h4>
      </div>
      <div class="col-md-4 lesson_pic"><%= image_tag("41.png") %>
        <h3>Connect</h3>
        <h4>Meet our Tutor face-to-face on Amazingtutor!</h4>
      </div>

    </div>
  </div>
</div>
</section>
<section class="whyme">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>Why AmazingTutor?</h1>
      <h3>We created the best environment to overcome the limits of traditional language schools.</h3>
    </div>
  </div>
  <div class="row ">
    <div class="col-md-4 ">
      <div class="whyme_content"><%= image_tag("21.jpg") %>
      <h3>Culture Sharing</h3>
      <h4>language is all about the culture, so we share what’s happening here and things that will never bored you!</h4>
      </div>
    </div>
    <div class="col-md-4 ">
      <div class="whyme_content"><%= image_tag("22.jpg") %>
      <h3>Realtime Correction</h3>
      <h4>Pronounce like a native speaker by chatting with us</h4>
      </div>
    </div>
    <div class="col-md-4 ">
      <div class="whyme_content"><%= image_tag("23.jpg") %>
      <h3>Flexibility</h3>
      <h4>Where to learn or when to learn? You decide and We'll follow!</h4>
      </div>
    </div>
  </div>
</div>
</section>
<section class="main_footer">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-md-push-1 text-center ">
      <div class="main_head_content">
      <h1>Our Ambition</h1>
      <h3>Create the best online Chineses learning experience for all!</h3>
        <%= link_to "Get Start Now",teacherwall_path %>
        </div>
    </div>
  </div>
</div>
</section>
