<section class="main-head">
  <div class="container-fluid main-head-content">
    <div class="row">
      <div class="col-md-3 col-md-push-1">
        <h1>Learn to speak Chinese in 30 minutes</h1>
        <h4>one-on-one mandarin lessons from native speakers</h4>
        <%= link_to "Get Start Now",teacherwall_path %>
      </div>
    </div>
  </div>
</section>
<section class="teacherwall">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>200+ Professional Teachers</h1>
        <h4>All of our teachers have a certificate, degree or experience in Chinese teaching.</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 teacherpic">
        <%= image_tag("index_background.png") %>
      </div>
      <div class="col-md-4 teacherpic">
        <%= image_tag("index_background.png") %>
      </div>
      <div class="col-md-4 teacherpic">
        <%= image_tag("index_background.png") %>
      </div>
      <div class="col-md-4 teacherpic">
        <%= image_tag("index_background.png") %>
      </div>
      <div class="col-md-4 teacherpic">
        <%= image_tag("index_background.png") %>
      </div>
      <div class="col-md-4 teacherpic">
        <%= image_tag("index_background.png") %>
      </div>
    </div>
  </div>
</section>
<section class="golesson">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>How Do I Schedule a Lesson?</h1>
        <h4>Easy to have an online private tutor class via AmazingTutor!</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4"></div>
      <div class="col-md-4"></div>
    </div>
  </div>
</section>
<section class="whyme">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Why AmazingTutor?</h1>
        <h4>We created the best environment to overcome the limits of traditional language schools.</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4"></div>
      <div class="col-md-4"></div>
    </div>
  </div>
</section>
<section class="main-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-md-push-4"></div>
    </div>
  </div>
</section>
