<div class="col-md-7 profile-body-padding">
  <div class="profile-container">
    <div class="profile-info col-xs-12">
      <div class="row">
        <div class="profile-image col-sm-5 col-md-12">
          <div class="youtube-container-profile">
            <div class="youtube-player youtube-player-profile" data-id="<%= @order.teacher.youtube_website %>"></div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-7 col-md-12">
          <div class="col-xs-12 clearfix flexmodify">
            <div class="info-mypic col-xs-3 pull-left">
              <%= image_tag("oval155.png") %>
            </div>
            <div class="info-eval col-xs-7">
              <p><%= User.find(@order.teacher.user_id).first_name %>
                <%= User.find(@order.teacher.user_id).last_name %></p>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-o"></i>
              <i class="fa fa-star-o"></i>
              <span>(132)</span>
            </div>
            <div class=" col-xs-2 info-flag">
              <%= image_tag("flag.png") %>
            </div>
          </div>
          <div class="col-xs-12 clearfix info-tag">
            <i class="fa fa-comment-o"></i>
            <span>Speak
            </span>
            <span>
              <% @order.teacher.languages.each do |x| %>
              <%= x.language %>
              <% end %></span><br>
            <i class="fa fa-usd"></i>
            <span>Rate
            </span>
            <span class="moneyred"><%= @order.teacher.ten_fee/10 %>~<%= @order.teacher.one_fee %>TW/hour</span><br>
            <i class="fa fa-rss"></i>
            <span>Trial
            </span>
            <span>Yes</span>
          </div>
          <div class="col-xs-12 info-pro">
            <p><%= @order.teacher.introduction %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= form_for @order, url: user_orders_path(current_user, @order) do |f| %>
  <div class="profile-fix">
    <div class=" profile-container">
      <div class="private col-xs-12">

        <div class="col-xs-12 private-head">
          <h5>Private sesions</h5>
          <p>whith Sarah</p>
        </div>

        <div class="col-xs-12 private-money">
          <div class="col-xs-6">
            <div class="payment-radio">
              <input type="radio" id="radio-1-4" name="radio-1-set" class="regular-radio" checked/>
              <label for="radio-1-4"></label>
            </div>
            <h6>&nbsp;&nbsp;Trial session</h6>
          </div>
          <div class="col-xs-6 text-right">
            <h5 class="moneyred"><%= @order.teacher.trial_fee %> TWD</h5>
            <p>30 mins</p>
          </div>
        </div>

        <div class="col-xs-12 private-money">
          <div class="col-xs-6">
            <div class="payment-radio">
              <input type="radio" id="radio-1-1" name="radio-1-set" class="regular-radio" checked/>
              <label for="radio-1-1"></label>
            </div>
            <h6>&nbsp;&nbsp;1 session</h6>
          </div>
          <div class="col-xs-6 text-right">
            <h5 class="moneyred"><%= @order.teacher.one_fee %> TWD</h5>
            <p>per hour</p>
          </div>
        </div>

        <div class="col-xs-12 private-money ">
          <div class="col-xs-6">
            <div class="payment-radio">
              <input type="radio" id="radio-1-2" name="radio-1-set" class="regular-radio"/>
              <label for="radio-1-2"></label>
            </div>
            <h6>&nbsp;&nbsp;5 session</h6>
          </div>
          <div class="col-xs-6 text-right ">
            <h5 class="moneyred"> <%= @order.teacher.five_fee/5 %> TWD</h5>
            <p>per hour</p>
          </div>
        </div>

        <div class="col-xs-12 private-money">
          <div class="col-xs-6 ">
            <div class="payment-radio">
              <input type="radio" id="radio-1-3" name="radio-1-set" class="regular-radio"/>
              <label for="radio-1-3"></label>
            </div>
            <h6>&nbsp;&nbsp;10 session</h6>
          </div>
          <div class="col-xs-6 text-right">
            <h5 class="moneyred"> <%= @order.teacher.ten_fee/10 %> TWD</h5>
            <p>per hour</p>
          </div>
        </div>
        <div class="container-fluid pay-order-cotent">
          <div class="form-group">
            <% f.label :teacher_id, "Teacher_ID: " %>
            <%= f.hidden_field :teacher_id, :class => "form-control" %>
          </div>

          <div class="form-group">
            <% f.label :amount, "Amount: "%>
            <%= f.hidden_field :amount, :id => "amount", :class => "form-control" %>
          </div>

          <div class="form-group">
            <% f.label :session, "session: "%>
            <%= f.hidden_field :session, :id => "session", :class => "form-control" %>
          </div>

          <div class="form-group">
            <% f.label :email %>
            <%= f.hidden_field :email,value: User.find(params[:user_id]).email, :class => "form-control" %>
          </div>
          <%= f.submit "Pay", :class => "btn btn-primary btm-lg pay-order" %>
          <% end %>
        </div>


      </div>
    </div>
  </div>

  <script>
    $("#amount").val(<%= @order.teacher.one_fee %>);
    $("#radio-1-4").click(function () {
      $("#amount").val(<%= @order.teacher.trial_fee %>);
    });
    $("#radio-1-3").click(function () {
      $("#amount").val(<%= @order.teacher.ten_fee %>);
    });
    $("#radio-1-2").click(function () {
      $("#amount").val(<%= @order.teacher.five_fee %>);
    });
    $("#radio-1-1").click(function () {
      $("#amount").val(<%= @order.teacher.one_fee %>);
    });

    $("#session").val("1");
    $("#radio-1-4").click(function () {
      $("#session").val("trial");
    });
    $("#radio-1-3").click(function () {
      $("#session").val("10");
    });
    $("#radio-1-2").click(function () {
      $("#session").val("5");
    });
    $("#radio-1-1").click(function () {
      $("#session").val("1");
    });
    (function() {
        var v = document.getElementsByClassName("youtube-player");
        for (var n = 0; n < v.length; n++) {
            var p = document.createElement("div");
            p.innerHTML = labnolThumb(v[n].dataset.id);
            p.onclick = labnolIframe;
            v[n].appendChild(p);
        }
    })();

    function labnolThumb(id) {
        return '<img class="youtube-thumb" src="//i.ytimg.com/vi/' + id + '/hqdefault.jpg"><div class="play-button"></div>';
    }

    function labnolIframe() {
        var iframe = document.createElement("iframe");
        iframe.setAttribute("src", "//www.youtube.com/embed/" + this.parentNode.dataset.id + "?autoplay=1&autohide=2&border=0&wmode=opaque&enablejsapi=1&showinfo=0");
        iframe.setAttribute("frameborder", "0");
        iframe.setAttribute("id", "youtube-iframe");
        this.parentNode.replaceChild(iframe, this);
    }
  </script>
