<h1>Order Checkout</h1>
<table class="table">
  <tr>
    <td>
      <% if @order.user %>
        User ID: <%= @order.user_id %>
      <% end %>
    </td>
    <td>Teacher_ID:  <%= @order.teacher_id %></td>
    <td>User E-mail: <%= @order.user.email %></td>
    <td>Amount $ <%= @order.amount %></td>
    <td>Session $ <%= @order.session %></td>
  </tr>
</table>

<% if @order.paid %>
  <p>Paid</p>
<% else %>
  <p>Please Pay before booking </p>

  <p>
    <%= link_to "Pay", checkout_pay2go_user_order_path(@order.user_id, @order, :payment_method => "Credit"), :class => "btn btn-primary btn-lg", :method => :post %>
    <%= link_to "Paypal", checkout_paypal_user_order_path(@order.user_id, @order), :class => "btn btn-primary btn-lg", :method => :post %>
  </p>

<% end %>
