<div class="container">
  <h2><%= simple_format @user.username %></h2>
  <div class="form-group">
    <%= form_for @user, :url =>user_profile_path, :method => :patch do |f| %>
    <%= f.fields_for :profile do |p| %>

    <%= p.label :first_name, "First Name" %>
    <%= p.text_field :first_name, :class => "form-control" %>

    <%= p.label :last_name, "Last Name" %>
    <%= p.text_field :last_name, :class => "form-control" %>

    <% end %>
    <%= f.label :username, "I Am" %>
    <%= f.text_field :username, :class => "form-control" %>

    <%= f.label :email, "Email" %>
    <%= f.email_field :email, :class => "form-control" %>

    <%= f.fields_for :profile do |p| %>
    <%= p.label :birthday, "Birthday" %>
    <%= p.datetime_select :birthday, :class => "form-control" %>

    <%= p.label :location, "Location" %>
    <%= p.select(:location ,options_for_select([["台北", 3],["印尼", 1]],"3"),{}, {:class => "form-control"} )%>

    <%= p.label :currency, "Currency" %>
    <%= p.select(:currency ,options_for_select([["紙錢", 3],["美金", 1]],"3"),{}, {:class => "form-control"} )%>

    <%= p.label :time_zone, "TimeZone" %>
    <%= p.select(:time_zone ,options_for_select([["白天", 3],["半夜", 1]],"3"),{}, {:class => "form-control"} )%>
    <% end %>
    <%= f.submit 'save', :class => "btn btn-primary" %>
    <% end %>

  </div>
</div>
