<div class="container">
  <h1>Education</h1>
  <%= flash[:alert]  %>

  <div class="form-group">
    <%= form_for @teacher do |f| %>
    <%= f.add_nested_fields_link :educations, '學校', class: 'btn btn-danger', role: 'button'  %>

    <%= f.nested_fields_for :educations do |ff| %>
    <%= ff.remove_nested_fields_link 'Remove me', class: 'btn btn-danger', role: 'button'%>
    <%= ff.label :school, "學校" %>
    <%= ff.text_field :school, :class => "form-control" %>
    <%= ff.label :major, "科系" %>
    <%= ff.text_field :major, :class => "form-control" %>
    <% end %>

    <%= f.add_nested_fields_link :experiences, '經歷', class: 'btn btn-danger', role: 'button'  %>
    <%= f.nested_fields_for :experiences do |ff| %>
    <%= ff.remove_nested_fields_link 'Remove me', class: 'btn btn-danger', role: 'button'%>
    <%= ff.label :company_name, "名稱" %>
    <%= ff.text_field :company_name, :class => "form-control" %>
    <%= ff.label :description, "服務內容" %>
    <%= ff.text_field :description, :class => "form-control" %>
    <% end %>

    <%= f.add_nested_fields_link :certificates, '證照', class: 'btn btn-danger', role: 'button'  %>
    <%= f.nested_fields_for :certificates do |ff| %>
    <%= ff.remove_nested_fields_link 'Remove me', class: 'btn btn-danger', role: 'button'%>
    <%= ff.label :name, "執照" %>
    <%= ff.text_field :name, :class => "form-control" %>
    <%= ff.label :score, "分數" %>
    <%= ff.text_field :score, :class => "form-control" %>
    <% end %>

    <%= f.submit 'save', :class => "btn btn-primary" %>
    <% end %>
  </div>
</div>
