<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= render "sidebar" %>
    </div>
    <div class="col-md-8">
      <div class="public-content">
        <div class="public-head">
          <h4>教學經驗</h4>
        </div>
        <div class="alert alert-success">
          <%= flash[:alert]  %>
        </div>
        <div class="public-note">
          <h5>小提醒：請使用英文填寫，如工作經歷跟語言教學有關，會更吸引學員的目光唷!</h5>
        </div>
        <hr class="education_hr">

        <%= nested_form_for @teacher do |f| %>
            <h5 class="add_nested_fix">證照</h5>

            <%= f.fields_for :certificates do |ff| %>

                <div class="input-group clearfix">
                  <%= ff.label :name, "證照名稱" %>
                  <%= ff.text_field :name, :class => "form-control"  %>
                </div>
                <div class="input-group clearfix">
                  <%= ff.label :score, "證照分數" %>
                  <%= ff.text_field :score , :class => "form-control" %>
                </div>
                <%= ff.link_to_remove :class=> "removetask" do %>
                    <i class="fa fa-minus-square-o" aria-hidden="true"></i>刪除
                <% end %>
            <% end %>
            <%= f.link_to_add :certificates ,:class=>"addtask" do%>
                <i class="fa fa-plus-square-o" aria-hidden="true"></i>增加證照
            <% end %>

            <hr>
            <h5 class="add_nested_fix">學歷</h5>
            <%= f.fields_for :educations do |ff| %>
                <div class="input-group clearfix">
                  <%= ff.label :start, "開始時間" %>
                  <%= ff.text_field :start, "data-provide" => 'datepicker',:class => "form-control "  %>
                </div>
                <div class="input-group clearfix">
                  <%= ff.label :end, "結束時間" %>
                  <%= ff.text_field :end, "data-provide" => 'datepicker',:class => "form-control "  %>
                </div>

                <div class="input-group clearfix">
                  <%= ff.label :school, "學校名稱" %>
                  <%= ff.text_field :school, :class => "form-control " %>
                </div>
                <div class="input-group clearfix">
                  <%= ff.label :major, "科系全名" %>
                  <%= ff.text_field :major, :class => "form-control " %>
                </div>
                <%= ff.link_to_remove :class=> "removetask" do%>
                    <i class="fa fa-minus-square-o" aria-hidden="true"></i>刪除
                <% end %>
            <% end %>
            <p><%= f.link_to_add :educations ,:class=>"addtask" do%>
                  <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                  增加學歷
              <% end %>
            </p>
            <hr>

            <h5 class="add_nested_fix">工作經驗</h5>
            <%= f.fields_for :experiences do |ff| %>

                <div class="input-group clearfix ">
                  <%= ff.label :start, "開始時間" %>
                  <%= ff.text_field :start, "data-provide" => 'datepicker',:class => "form-control "  %>
                </div>
                <div class="input-group clearfix">
                  <%= ff.label :end, "結束時間" %>
                  <%= ff.text_field :end, "data-provide" => 'datepicker',:class => "form-control "  %>
                </div>
                <div class="input-group clearfix">
                  <%= ff.label :company_name, "單位名稱" %>
                  <%= ff.text_field :company_name, :class => "form-control " %>
                </div>
                <div class="input-group clearfix">
                  <%= ff.label :description, "服務內容" %>
                  <%= ff.text_area :description, :class => "form-control " %>
                </div>
                <%= ff.link_to_remove :class=> "removetask" do%>
                    <i class="fa fa-minus-square-o" aria-hidden="true"></i>刪除
                <% end %>
            <% end %>
            <p><%= f.link_to_add :experiences ,:class=>"addtask" do%>
                  <i class="fa fa-plus-square-o" aria-hidden="true"></i>增加經驗
                  </p>
              <% end %>
              <hr>

              </div>
              <div class="public-save">
                <%= f.submit 'SAVE', :class => "btn" %>
              </div>
        <% end %>
        </div>
  </div>
</div>


<script>
  $(document).on('nested:fieldAdded', function(event){
    // this field was just inserted into your form
    var field = event.field;
    // it's a jQuery object already! Now you can find date input
    var dateField = field.find('.date');
    // and activate datepicker on it
    dateField.datepicker();
  })
</script>
