<div class="container">
  <h1>Introduce</h1>
  <%= flash[:alert]  %>

  <% @teacher.languages.each do |t| %>
    <%= simple_format t.language %>
  <% end %>

  <div class="form-group">
  <%= form_for @teacher do |f| %>
  <%= f.collection_select(:language_ids, Language.all, :id, :language,{}, {:multiple => true, :class => "form-control language-select"}) %>
  <%= f.label :introduction, "First Name" %>
  <%= f.text_area :introduction, :class => "form-control" %>

  <%= f.submit 'save', :class => "btn btn-primary" %>
  <% end %>
</div>

</div>
