<div class="container">
  <div class="row">
    <div class="col-md-4 ">
      <%= render "sidebar" %>
    </div>
    <div class="col-md-8">
      <div class="public-content form-group">
          <%= form_for @teacher do |f| %>
        <div class="public-head">
          <h4>基本資料</h4>
        </div>
        <div class="alert alert-success">
          <%= flash[:alert]  %>
        </div>
        <div class="input-group clearfix language-select-fix">

          <label for="#your-input" class="pull-left ">第二外語</label>
          <%= f.collection_select(:language_ids, Language.all, :id, :language,{}, {:multiple => true, :class => "form-control",:id=>"language-select",:style=>"width:80%;" , required: true}) %>
        </div>
        <h6>小提醒：如果您會其他外語歡迎填寫，這樣對學員來說會格外親切
        </h6>
        <hr>
        <div class="input-group clearfix intro-textarea-fix">
          <%= f.label :introduction, "自我介紹" %>
          <%= f.text_area :introduction, :class => "form-control", required: true %>
        </div>
        <hr>
        <div class="public-note">
          <h5>小提醒：</h5>
          <h6>小提醒：大部分的學員對於老師的教學方式、教學背景、已經經歷 會有濃厚的興趣，趕緊寫下你的寶貴經驗吧!</h6>
        </div>
      </div>
      <div class="public-save">
        <%= f.submit 'SAVE', :class => "btn" %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<script>
    $("#language-select").select2({placeholder: "Select a language"});
</script>
