<div class="col-md-7 profile-body-padding col-lg-7">
  <div class="profile-container">
    <div class="profile-info col-xs-12">
      <div class="row">
        <div class="profile-image col-sm-5 col-md-12">
          <iframe src="<%= @teacher.youtube_website %>?playlist=&version=3&controls=0&fs=0&rel=0&showinfo=0&iv_load_policy=3&theme=light" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-xs-12 col-sm-7 col-md-12">
          <div class="col-xs-12 clearfix flexmodify">
            <div class="info-mypic col-xs-3 pull-left">
              <%= image_tag("oval155.png") %>
            </div>
            <div class="info-eval col-xs-7">
              <p><%= User.find(@teacher.user_id).first_name %>
                <%= User.find(@teacher.user_id).last_name %></p>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-o"></i>
              <i class="fa fa-star-o"></i>
              <span>(132)</span>
            </div>
            <div class=" col-xs-2 info-flag">
              <%= image_tag("flag.png") %>
            </div>
          </div>
          <div class="col-xs-12 clearfix info-tag">
            <i class="fa fa-comment-o"></i>
            <span>Speak
            </span>
            <span>
              <% @teacher.languages.each do |x| %>
              <%= x.language %>
              <% end %></span><br>
            <i class="fa fa-usd"></i>
            <span>Rate
            </span>
            <span class="moneyred"><%= @teacher.ten_fee/10 %>~<%= @teacher.one_fee %>TW/hour</span><br>
            <i class="fa fa-rss"></i>
            <span>Trial
            </span>
            <span>Yes</span>
          </div>
          <div class="col-xs-12 info-pro info-p-minfix">
            <p><%= @teacher.introduction %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="profile-fix">
    <div class="profile-container">
      <div class="trial  col-xs-12">
        <div class="col-xs-6">
          <h5>Trial session</h5>
          <p>with sarah</p>
        </div>

        <div class="col-xs-5 col-xs-push-1 text-right">

            <% if @teacher.trial_fee == 0 %>
              <h5 class="moneyred"><%= "FREE" %></h5>
            <% elsif @teacher.trial_fee == nil %>
          <h5 class="moneyred"><%= "NOT TRIAL" %></h5>
            <% else %>
            <h5 class="moneyred"><%= @teacher.trial_fee %> TWD</h5>
            <% end %>
          <p>30 min</p>
        </div>
        <div class="col-xs-12">
          <% if @teacher.trial_fee == nil %>
          <%#= link_to ""%>
          <% elsif current_user == nil%>
           <%= link_to "Book Now", new_session_path(:user),:class => "btn btn-primary btn-lg" %>
            <% else%>
           <%= link_to "Book Now", new_user_order_path(current_user, :teacher_id => params[:id]),:class => "btn btn-primary btn-lg" %>
         <% end %>
        </div>
      </div>
    </div>

    <div class=" profile-container">
      <div class="private col-xs-12">

        <div class="col-xs-12 private-head">
          <h5>Private sesions</h5>
          <p>whith sarah</p>
        </div>

        <div class="col-xs-12 private-money">
          <div class="col-xs-6">
            <h6>&nbsp;&nbsp;1 session</h6>
          </div>
          <div class="col-xs-6 text-right">
            <h5 class="moneyred"><%= @teacher.one_fee %>
              TWD</h5>
            <p>per hour</p>
          </div>
        </div>
        <div class="col-xs-12 private-money ">
          <div class="col-xs-6">
            <h6>&nbsp;&nbsp;5 session</h6>
          </div>
          <div class="col-xs-6 text-right ">
            <h5 class="moneyred"><%= @teacher.five_fee %>
              TWD</h5>
            <p>per hour</p>
          </div>
        </div>
        <div class="col-xs-12 private-money">
          <div class="col-xs-6 ">
            <h6>&nbsp;&nbsp;10 session</h6>
          </div>
          <div class="col-xs-6 text-right">
            <h5 class="moneyred"><%= @teacher.ten_fee %>
              TWD</h5>
            <p>per hour</p>
          </div>
        </div>

        <div class="col-xs-12">
          <div id="booknow">
            <% if current_user == nil%>
             <%= link_to "Book Now", new_session_path(:user),:class => "btn btn-primary btn-lg" %>
              <% else%>
             <%= link_to "Book Now", new_user_order_path(current_user, :teacher_id => params[:id]),:class => "btn btn-primary btn-lg" %>
           <% end %>
          </div>
        </div>

        <div class="col-xs-12 text-center">
          <h6>Sarah usually responds
            <b>within 12 hours.</b>
          </h6>
        </div>
      </div>
    </div>
  </div>
  <div class="profile-container">
    <div class="schedule  col-xs-12">
      <div class="schedule-head col-xs-12">
        <h5>Schedule</h5>
      </div>
      <div class="schedule-plan col-xs-12">
        <%= image_tag("booking.png") %>
      </div>
    </div>
  </div>

  <div class="profile-container">
    <div class="background  col-xs-12">
      <div class="col-xs-12 background-head">
        <h5>Background</h5>
      </div>
      <div class="col-xs-12 background-content">
        <h6 class="text-center">1994 - 2200</h6>
        <h5>Eduation</h5>
        <h6>Lorem ipsum dolor sit amet.</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate distinctio eaque quis sed! Accusamus delectus explicabo labore magni minima possimus praesentium quae, qui quo quod reiciendis rem reprehenderit soluta suscipit veritatis, vitae
          voluptatum. Cum deserunt distinctio dolore et facilis fugit, in incidunt iste laudantium nobis obcaecati quaerat, qui ratione, rem?</p>
      </div>
      <div class="col-xs-12 background-content">
        <h6 class="text-center">1994 - 2200</h6>
        <h5>Eduation</h5>
        <h6>Lorem ipsum dolor sit amet.</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate distinctio eaque quis sed! Accusamus delectus explicabo labore magni minima possimus praesentium quae, qui quo quod reiciendis rem reprehenderit soluta suscipit veritatis, vitae
          voluptatum. Cum deserunt distinctio dolore et facilis fugit, in incidunt iste laudantium nobis obcaecati quaerat, qui ratione, rem?</p>
      </div>
      <div class="col-xs-12 background-content">
        <h6 class="text-center">1994 - 2200</h6>
        <h5>Eduation</h5>
        <h6>Lorem ipsum dolor sit amet.</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate distinctio eaque quis sed! Accusamus delectus explicabo labore magni minima possimus praesentium quae, qui quo quod reiciendis rem reprehenderit soluta suscipit veritatis, vitae
          voluptatum. Cum deserunt distinctio dolore et facilis fugit, in incidunt iste laudantium nobis obcaecati quaerat, qui ratione, rem?</p>
      </div>
      <div class="col-xs-12 background-content">
        <h6 class="text-center">1994 - 2200</h6>
        <h5>Eduation</h5>
        <h6>Lorem ipsum dolor sit amet.</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate distinctio eaque quis sed! Accusamus delectus explicabo labore magni minima possimus praesentium quae, qui quo quod reiciendis rem reprehenderit soluta suscipit veritatis, vitae
          voluptatum. Cum deserunt distinctio dolore et facilis fugit, in incidunt iste laudantium nobis obcaecati quaerat, qui ratione, rem?</p>
      </div>
    </div>
  </div>

  <div class="profile-container">
    <div class="rating  col-xs-12">
      <div class="rating-head col-xs-12">
        <h5>Rating</h5>
      </div>


      <% @evaluations.each do |e|%>

        <div class="rating-content col-xs-12">
          <div class="col-xs-1">
            <%= image_tag(User.find(e.evaluatable_id).image) %>
          </div>
          <div class="col-xs-10 col-xs-push-1">
            <span><%= User.find_by_id(e.evaluatable_id).first_name %></span>
            <span><%= User.find_by_id(e.evaluatable_id).last_name %></span><br>

              <div id="rateYo-<%= e.id %>"></div>
            --
            <span>Decemeber 9,2016</span>
          </div>
          <div class="col-xs-12 rating-comment">
            <p><%= e.comment %></p>
          </div>
        </div>


      <% end %>
    </div>
  </div>
</div>


<script type="text/javascript" charset="utf-8">

$(function () {
  <% @evaluations.each do |e| %>
    $("#rateYo-<%= e.id %>").rateYo({
      starWidth: "20px",
      numStars: 5,
      halfStar: true,
      readOnly: true,
      rating: <%= e.rating %>
    });
  <% end %>
});

</script>
