<div class="log in">
  <div class="container-fluid">
    <h3>Log In</h3>
    <hr>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <%= render "devise/shared/links" %>
    <div class="login_input">
      <%= f.email_field :email, autofocus: true , :class => "form-control",:placeholder=>"Email"%>
      <%= f.password_field :password, autocomplete: "off", :class => "form-control" ,:placeholder=>"Password" %>
    </div>
    <p>or</p>
    <% if devise_mapping.rememberable? -%>
    <div class="field">
      <% f.check_box :remember_me%>
      <% f.label :remember_me %>
    </div>
    <% end -%>
  </div>
  <div class="actions">
    <%= f.submit "Log in" , :class => "form-control"%>
  </div>
  <% end %>

</div>
