<div class="container">
  <div class="row">
    <div class="col-md-5 text-center  col-xs-12">
      <%= render "users/sidebar"%>
      <div class="private col-xs-12 calendar-drag">
        <div class="col-xs-12 private-head">
          <h5>Teacher infomation</h5>
        </div>
        <div class="col-xs-12 calendar-teacher">
          <h4><% @user = User.find_by_id(@teacher.user_id) %>
          <%= @user.first_name %><%= @user.last_name %></h4>
          <div class="clearfix info-tag">
            <i class="fa fa-comment-o"></i>
            <span>Speak
            </span>
            <span class="moneyred">
              <% @teacher.languages.each do |x| %>
              <%= x.language %>
              <% end %>
            </span><br>
            <i class="fa fa-usd"></i>
            <span>Rate
            </span>
            <span class="moneyred"><%= @teacher.ten_fee/10 %>~<%= @teacher.one_fee %>
            TW/hour</span><br>
            <h5>5 UnScheduled</h5>
          </div>
        </div>
      </div>
      <div class="private col-xs-12 calendar-drag">
        <div class="col-xs-12 private-head">
          <h5>Sesions Bookings</h5>
        </div>
        <div class="col-xs-12 calendar-drag-content">
          <div id='external-events'>
            <h4>Draggable Class(drop to calendar to book)</h4>
            <% if @user_available_sections.trailed %>
            <div class='fc-event trailed'>trailed class</div>
            <% @user_available_sections.available_section -= 1 %>
            <% end %>
            <% (1..(@user_available_sections.available_section/2)).each do |i| %>
            <div class='fc-event nomal'>nomal class
              <%= i %></div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-7">
      <div class="calendar-content-other">
        <div class="public-head">
          <h4>授課日曆</h4>
        </div>
        <div id="calendar"></div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {

    $('#external-events .trailed').each(function () {

      // store data so the calendar knows to render an event upon drop
      $(this).data('event', {
        id: 'trailed',
        title: $.trim($(this).text()), // use the element's text as the event title
        constraint: 'available_for_booking',
        duration: '00:30',
        stick: true // maintain when user navigates (see docs on the renderEvent method),
      });

      // make the event draggable using jQuery UI
      $(this).draggable({
        zIndex: 999, revert: true, // will cause the event to go back to its
        revertDuration: 0 //  original position after the drag
      });
    });
    i = 1;
    $('#external-events .nomal').each(function () {

      // store data so the calendar knows to render an event upon drop
      $(this).data('event', {
        id: 'nomal' + i,
        title: $.trim($(this).text()), // use the element's text as the event title
        constraint: 'available_for_booking',
        duration: '01:00',
        stick: true // maintain when user navigates (see docs on the renderEvent method),
      });

      // make the event draggable using jQuery UI
      $(this).draggable({
        zIndex: 999, revert: true, // will cause the event to go back to its
        revertDuration: 0 //  original position after the drag
      });
      i++;
    });
    $('#calendar').fullCalendar({
      buttonIcons: false,
      buttonText: {
        prev: '<  Prev',
        next: 'Next  >'
      },
      header: {
        left: 'prev',
        center: 'title',
        right: 'next'
      },
      axisFormat: 'H:mmA',
      dragOpacity: {
        agenda: .5
      },
      theme: false,
      dragScroll: false,
      contentHeight: 1100,
      eventColor: '#FC6063',
      //24小時制 大寫H
      allDaySlot: false,
      defaultDate: '<%=Time.now.strftime("%Y-%m-%d")%>',
      defaultView: 'agendaWeek',
      ignoreTimezone: false,
      droppable: true,
      drop: function (date, jsEvent, ui, resourceId) {
        s = $('#calendar').fullCalendar('clientEvents', $(this).data().event.id)[0];
        console.log($('#calendar').fullCalendar('clientEvents', $(this).data().event.id));
        if (!confirm("Are you sure to booking on " + s.start.format("YYYY-MM-DD HH:mm:ss") + '~' + s.end.format("YYYY-MM-DD HH:mm:ss") + "?")) {
          $('#calendar').fullCalendar('removeEvents', $(this).data().event.id);
        } else {
          $.ajax({
            url: '<%= appointments_url %>',
            data: {
              start: s.start.format("YYYY-MM-DD HH:mm:ss"),
              end: s.end.format("YYYY-MM-DD HH:mm:ss"),
              teacher_id: <%= @teacher.id %>
            },
            beforeSend: function (xhr) {
              xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
            },
            type: "POST",
            dataType: 'text',
            success: function (msg) {
              //              console.log(msg);              var events = JSON.parse(msg);                eventData = {                  start: events.start,                  end: events.end,                  backgroundColor: 'blue',                  rendering:
              // 'background',                };                $('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
              $('#calendar').fullCalendar('refetchEvents')
            },

            error: function (xhr, ajaxOptions, thrownError) {
              alert(xhr.status);
              alert(thrownError);
            }
          });
          $('#calendar').fullCalendar('refetchEvents');
          $('#calendar').fullCalendar('removeEvents', $(this).data().event.id);
          $(this).remove();
        }
      },
      eventLimit: true, // allow "more" link when too many events
      eventSources: [
        {
          //teacher events source
          url: 'http://localhost:3000/teacher_calendars/<%= @teacher.id %>/teacher_available_section.json', // use the `url` property
          rendering: 'background'
        }
      ]
    });

  });
</script>
