<div id="pop-black" class="pop-bg"></div>
      <div id="evaluation-white" class="evaluation-white">
        <div class="evaluation col-xs-12">
          <div class="evaluation-button clearfix">
            <%= link_to "Back" ,classes_user_path ,:class=>"pull-left"%>
           <!--  <button class="pull-right" id ="eval-send">Send</button>
          </div> -->
          <div class="evaluation-block col-xs-10 col-xs-push-1">
            <div class="evaluation-me text-center">
              <%= image_tag(@user.image) %>
              <h4>Abner Chao</h4>
              <p>We hope you had a great lesson! please leave your teacher a review on their profile for other students to see.</p>
            </div>

            <% if current_user == @appointment.user %>

              <% if evaluatable_type_is_user(@appointment) %>
                <div id="rateYo"></div><span id="content"></span>
                <div class="evaluation-comment">
                  <h5>Comments</h5>
                  <hr>
                <%= @appointment.evaluations.where(evaluatable_type: "User").first.comment %>
                </div>
              <% elsif @appointment.user == current_user %>
                <div id="rateYo"></div><span id="content"></span>
                <div class="evaluation-comment">
                  <h5>Comments</h5>
                  <hr>
                <input type="text" id="comment" value="<%= @evaluationsArray.first.try(:comment) %>">
                </div>
                <button class="button pull-right" id ="eval-send">Create</button>
              <% end %>

          <% end %>

          <% if current_user == @appointment.teacher.user %>
            <div class="evaluation-comment">
              <h5>Comments</h5>
              <hr>
            <% if evaluatable_type_is_teacher(@appointment) %>
              <%= @appointment.evaluations.where(evaluatable_type: "Teacher").first.comment %>
              <% elsif @appointment.teacher == current_user.teacher %>

              <input type="text" id="commentTa" value="<%= @commentTa %>">
              <button class="buttonTa" >Create</button>
            <% end %>
            </div>
          <% end %>


        </div>
      </div>
    </div>
  </div>



<script type="text/javascript" charset="utf-8">

$(function () {
  $("#rateYo").rateYo({
    starWidth: "40px",
    numStars: 5,
    fullStar: true,
    rating: <%= @raty %>
  });
});

$(function () {

  var $rateYo = $("#rateYo").rateYo();

  $(".button").click(function () {
    var rating = $rateYo.rateYo("rating");
    var comment = document.getElementById("comment").value;

    var appointment_id =  <%= @appointment.id %>;
    $.ajax({
      type: 'POST',
      url: "/appointments/" + appointment_id + "/evaluations",
      data: {
        type: 0,
        rating: rating,
        comment: comment
      },
      success: function(){
        window.location.assign("<%= classes_user_path((@appointment.user_id)) %>");
      },
      error: function() {
        alert("failed");
      }
    });
  });


  $(".buttonTa").click(function () {
    var commentTa = document.getElementById("commentTa").value;

     var appointment_id =  <%= @appointment.id %>;
    $.ajax({
      type: 'POST',
      url: "/appointments/" + appointment_id + "/evaluations",
      data: {
        type: 1,
        commentTa: commentTa
      },
      success: function(){
        window.location.assign("<%= classes_teacher_path(@appointment.teacher_id) %>");
      },
      error: function() {
        alert("failed");
      }
    });
  });

});

</script>

