<br/>
<%= @teacher.try(:youtube) %>
<% if @teacher.trial_fee > 0 or !@teacher.trial_fee.nil? %>
    可試上：半小時<%= @teacher.trial_fee %>
<% else %>
    不能試上 不顯示
<% end %>
<br/>
<%= @teacher.user.email %>
<br/>
----------------
<br/>
日期：<%= @reservation_list.first['start'].strftime("%Y-%m-%d") %>
<br/>
可選時段：
<%= form_for @appointments, url: appointments_path, method: :post do |f| %>
    <%= f.hidden_field :teacher_id, {:value => @teacher.id} %>
    <% @reservation_list.each do |r| %>
        <% if r["status"] %>
            <label class="c-input c-radio">
              <span class="c-indicator"></span>
              <%= f.radio_button :book_section, r["start"].strftime("%Y-%m-%d %H:%M:%S")+'~'+r["end"].strftime("%Y-%m-%d %H:%M:%S"), class: "form_control" %><%= r["start"].strftime("%H:%M:%S")+'~'+r["end"].strftime("%H:%M:%S") %>
            </label>
        <% end %>
    <% end %>
    <%= submit_tag("booking", :class => "btn btn-primary") %>
<% end %>
<div id='calendar' style="width:100% ; height:100%"></div>
<script>
  <%= render 'fullcalendar_show' %>
</script>
